.snap-x-mandatory {
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
}

.snap-x-mandatory::-webkit-scrollbar {
  height: 6px;
}

.snap-x-mandatory::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.snap-x-mandatory::-webkit-scrollbar-thumb {
  background: #ef4444;
  border-radius: 10px;
}

.snap-x-mandatory::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
}
