<section class="group relative flex overflow-hidden border-b border-gray-500/20 px-4 py-2">
  <!-- Glow Dinâmico (Pega a cor do primeiro tipo) -->
  <div
    class="absolute -left-10 top-1/2 h-40 w-50 -translate-y-1/2 rounded-full blur-3xl transition-colors duration-500"
    [ngClass]="getStyle(pokemon.types[0].type.name).bg"
  ></div>

  <!-- Pokemon -->
  <div class="relative flex shrink-0 items-center">
    <img
      [src]="pokemon.sprites.front_default"
      [alt]="pokemon.name"
      class="h-36 w-36 object-contain transition duration-300 group-hover:scale-105"
    />
  </div>

  <!-- Informações -->
  <div class="flex min-w-0 flex-1 flex-col justify-center gap-3">
    <!-- Título -->
    <div>
      <p class="text-[11px] tracking-[0.2em] text-slate-600 uppercase">Primeiro Pokémon</p>

      <div class="flex items-baseline gap-2">
        <h1 class="truncate text-3xl font-bold capitalize text-slate-50">
          {{ pokemon.name }}
        </h1>

        <span class="text-sm font-bold text-slate-600"> N° {{ pokemon.id | number: '3.0' }} </span>
      </div>
      <div class="flex mt-2" >
        <span
          *ngFor="let type of pokemon.types"
          class="mr-2 px-2 py-1 text-[10px] font-bold uppercase tracking-widest"
          [ngClass]="[
            getStyle(type.type.name).bg,
            getStyle(type.type.name).text
          ]"
        >
          {{ type.type.name }}
        </span>
      </div>
    </div>

    <!-- Dados rápidos -->
    <div class="flex items-center gap-5 text-xs">
      <div>
        <span class="text-slate-600">Altura:</span>
        <span class="ml-1 font-semibold text-slate-300">{{ pokemon.height }} m</span>
      </div>

      <div>
        <span class="text-slate-600">Peso:</span>
        <span class="ml-1 font-semibold text-slate-300">{{ pokemon.weight }} kg</span>
      </div>
    </div>
  </div>
</section>
