<div
  class="fixed inset-y-0 left-0 z-50 flex w-64 flex-col border-r border-gray-500/20 bg-slate-800/30"
>
  <!-- Logo -->
  <div class="flex h-20 shrink-0 items-center gap-3 border-b border-gray-500/20 px-6">
    <div class="flex h-11 w-11 items-center justify-center">
      <img src="/images/pokeball.png" alt="PokeHub" class="h-12 w-12 object-contain" />
    </div>

    <h1 class="text-xl font-bold tracking-tight text-white">PokeHub</h1>
  </div>

  <!-- Navigation -->
  <nav class="flex flex-1 flex-col gap-2 overflow-y-auto p-4">
    <!--
    <a
      routerLink="/dashboard"
      routerLinkActive="bg-slate-800 text-white"
      class="flex items-center gap-3 rounded-lg px-4 py-3 text-gray-400 transition hover:bg-slate-800 hover:text-white"
    >
      Dashboard
    </a>
    -->
  </nav>
</div>
